!!!5
html
head
	title Works in Progress
	link(rel='stylesheet', href='../public/css/grite.css')
body
	header
		#title
			h1
	#gist_id #{id}
	.post-text
	#loader loading...
	#footer
	script(src='../public/js/jquery.js')
	script(src='../public/js/marked.min.js')
	script(src='../public/js/grite.js')
	script(src='../public/js/gist.js')
