body {
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  background-color: #F8F8F8;
}

a {
  color: #FF3300;
}

a:hover {
  color: #FF0000;
  text-decoration: none;
}

.container {
  width: 80%;
  padding-top: 60px;
}

#navbar {
  padding-top: 20px;
  font-size: 18px;
  font-family: 'Kotta One', serif;
}

#title {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue";
}

#time-length {
  color: #FF3300;/*; add this in when you can separate by time length.*/
  background-color:transparent;
  font-size:48px;
  font-family:inherit;
  font-weight:inherit;
  line-height:inherit;
  padding:0px;
  margin: inherit;
}

#section-header {
  font-family: 'Kotta One', serif;
  text-align: left;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.post {
  font-size: 18px;
  padding-top: 10px;
 text-align: left; 
}

.repo {
    font-size: 18px;
  padding-top: 10px;
  text-align: left;
}

.date {
  color: #666;
  font-style: italic;
  text-align: left;
}

.author {
  color: #666;
  font-size: 14px;
  text-align: left;
}

.fork-post {
  padding-top: 10px;
  padding-left: 30px;
  text-align: left;
  font-size: 18px;
}

#loader{
  position: fixed;
  top: 0;
  padding: 10px;
  font-style: italic;
  font-size: 13px;
}

.footer {
  padding-top: 20px;
}

#footer-grite {
  padding-top: 20px;
  font-size: 12px;
  padding-bottom: 10px;
}