html, 
body {
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
  height: 100%;
  /*Github-flavored Markdown style*/
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

#wrapper {
  min-height: 100%;
  position:relative;
}

a {
  color: #6e5baa;
  /*color: #E238A7;*/
  text-decoration: none
}

a:hover {
  /*color: #FF0000;*/
  color: #6e5baa;
  /*color: #C50080;*/
  text-decoration: none;
}

a[role="menuitem"] {
  background-color: #FF3300;
  background-color: gray;
  /*color: #FF3300;;*/
}

code {
  white-space: pre-wrap;
}

.container {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 80px;
}

#navbar {
  padding-top: 20px;
  font-size: 18px;
}

#title {
  font-size: 32px;
  font-family: "BentonSans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  color:gray;
}

#time-length {
  color: #6e5baa;/*; add this in when you can separate by time length.*/
  background-color:transparent;
  font-size:32px;
  font-family:inherit;
  font-weight:inherit;
  line-height:inherit;
  padding-left: 2px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-top: 2px;
  margin: inherit;
}

#time-length:active {
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  padding: inherit;
}

#section-header {
  text-align: left;
  font-size: 24px;
  padding-top: 50px;
  margin-left:5px;
}

.post {
  font-size: 18px;
  padding-top: 10px;
  text-align: left; 
  border: 1px solid red;
  width:50%;
}


.repo {
    font-size: 18px;
  padding-top: 10px;
  text-align: left;
}

.date {
  color: #666;
  font-style: italic;
  text-align: left;
}

.author {
  color: #666;
  font-size: 14px;
  text-align: left;
}

.fork-post {
  padding-top: 10px;
  padding-left: 40px;
  text-align: left;
  font-size: 16px;
}

.post-text {
  text-align: center;
}

.post-text-content {
  display: inline-block;
  text-align: justify; 
  /*font-family: palatino, 'times new roman', serif;*/
  margin-bottom: 1.7em;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto;
  margin-right: 200px;
  margin-left: 200px;
  width: 600px;
}

#loader{
  position: fixed;
  top: 0;
  padding: 10px;
  font-style: italic;
  font-size: 13px;
}

.footer { 
  /* keeping that footer at the bottom thanks to: 
  http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/*/
  width: 100%;
  height: 60px;
  position:absolute;
  bottom: 0;
  left:0;
}

#footer {
  /*font-family: palatino, 'times new roman', serif;*/
  font-size: 0.8em;
  font-style: italic;
  padding-bottom: 10px;
}

#footer-grite {
  padding-top: 20px;
  font-size: 12px;
  padding-bottom: 10px;
}


.post-box {
  position: relative;
  width: 15%;
  overflow: hidden;
  /*font-size: 18px;*/
  /*padding-top: 10px;*/
  border: 1px solid gray;
  margin: 5px;
  float: left;
  color: gray;
}

.family-post-box {
  position: relative;
  width: 15%;
  overflow: hidden;
  /*font-size: 18px;*/
  /*padding-top: 10px;*/
  border: 1px solid gray;
  margin: 5px;
  /*float: left;*/
  color: gray;
}

.hover {
  /*background-color: #E238A7;*/
  /*background-color: #FF4040;*/
  /*background-color: #FF7373;*/
  background-color: #8c7dbb;
  /*color:white;*/
  color:#FFFFFE;
  border: 1px solid;
  outline: none;
}

.hover-parent {
  /*background-color: #C50080;*/
  background-color: #6e5baa;
  color: white;
  color:#FFFFFE;
  border: 1px solid;
  outline: none;
}

#repos .post-box:hover {
  /*background-color: #C50080;*/
  background-color: #6e5baa;
  color: white;
  border: 1px solid;
  outline: none;
}

.post-box a {
  color:inherit;
}

.post-box:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}

.family-post-box a {
  color:inherit;
}

.family-post-box:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}

.post-content {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}

.post-content div {
  display: table;
  width: 100%;
  height: 100%;
}

.post-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.family-post-content {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}

.family-post-content div {
  display: table;
  width: 100%;
  height: 100%;
}

.family-post-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.family-post-child {
  float: left;
}

#back {
  color: gray;
  /*float:left;*/
  /*display: inline-block;*/
}

#back:hover {
  color: inherit;
}